
__pycache__/
!.vscode/extensions.json
.coverage
.devcontainer/
.DS_Store
.env
.file-manifest
.idea
.spark-workbench-id
.venv/
.vscode/*
*-dist
*.db
*.db-*
*.egg-info/
*.local
*.log
*.njsproj
*.ntvs*
*.pyc
*.sln
*.suo
*.sw?
**/agent-eval-report*
# Editor directories and files
# Logs
dist
dist-ssr
htmlcov/
lerna-debug.log*
logs
node_modules
npm-debug.log*
packages
pids
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
